---
import Layout from '../layouts/Layout.astro';
import EventLog from '../components/EventLog';
---

<Layout title="Event Log - MyFoodMap">
	<main class="container mx-auto px-4 py-8">
		<EventLog client:load />
	</main>
</Layout>