---
import Layout from '../layouts/Layout.astro';
import EventLogView from '../components/EventLogView';
---

<Layout title="Event Log - MyFoodMap">
	<main class="container mx-auto px-4 py-8">
		<EventLogView client:load />
	</main>
</Layout>