---
import Layout from '../layouts/Layout.astro';
import SafeFoodDiary from '../components/SafeFoodDiary';
---

<Layout title="Food Diary - RecipeScaler">
  <main>
    <SafeFoodDiary client:load />
  </main>
</Layout>