---
import Layout from '../layouts/Layout.astro';
import SafeNutritionManager from '../components/SafeNutritionManager';
---

<Layout title="Nutrition Database - RecipeScaler">
  <main>
    <SafeNutritionManager client:load />
  </main>
</Layout>