---
import Layout from '../layouts/Layout.astro';
import SafeFoodsManager from '../components/SafeFoodsManager';
---

<Layout title="Safe Foods - MyFoodMap">
  <main>
    <SafeFoodsManager client:load />
  </main>
</Layout>